.imageEditor9{
  position: relative;
  background-color:black;
  _background-color: rgba(0, 0, 0, 0.6);
}

.imageEditor9  .workCanvas{
  position: absolute;
  display: block; 
  border: 1px solid gray;
}

.imageEditor9 > .floatingButton{
  position:absolute;
  bottom:40px;
  right:40px;
  background-color:#16aae3;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  box-shadow: 2px 2px 3px #999;
  z-index:1000;
  animation: ie9_bot_to_top 2s ease-out;
  padding: 10px;
}

.imageEditor9  .mainMenuImg{
  background-position: -45px 0px;
}

.imageEditor9 > ul.horizon{
  position:absolute;
  right:40px;
  padding-bottom:10px;
  bottom:50px;
  z-index:100;
}

.imageEditor9 > ul.horizon li{
  list-style:none;
  margin-bottom:10px;
}

.imageEditor9 > ul.vertical{
  position: absolute;
  right: 85px;
  bottom: 23px;
  z-index: 100;
  width: 337px;
  _height: 70px;
  text-align: right;
}


.imageEditor9 > ul.vertical li{
  list-style:none;
  display: inline-block;
  text-align: right;
  padding-left: 5px;
  text-align: center;
}


.imageEditor9 > ul li a{
  background-color:#16aae3;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  box-shadow: 2px 2px 3px #999;
  padding: 10px;
  display:block;
}

.imageEditor9 > ul:hover{
  visibility:visible!important;
  opacity:1!important;
}

.imageEditor9 a.floatingButton + ul{
  visibility: hidden;
}

.imageEditor9_toggle_menu{
  visibility: visible !important;
  animation: ie9_scale_in 0.5s !important;
}

.imageEditor9 a.floatingButton:hover_ + ul{
  visibility: visible !important;
  animation: ie9_scale_in 0.5s !important;
}

.imageEditor9 a.floatingButton div{
  animation: ie9_rotate_in 0.5s;
}

.imageEditor9 a.floatingButton:hover > div{
  animation: ie9_rotate_out 0.5s;
}

@keyframes ie9_bot_to_top {
  0%   {bottom:0px}
  80%  {bottom:40px}
}

@keyframes ie9_scale_in {
  from {transform: scale(0);opacity: 0;}
  to {transform: scale(1);opacity: 1;}
}

@keyframes ie9_rotate_in {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

@keyframes ie9_rotate_out {
  from {transform: rotate(360deg);}
  to {transform: rotate(0deg);}
}

.floatingButtonImg {
  width:20px;
  height:20px; 
  background-image:url(imageEditor9.png);
}

.imageEditor9_dialog{
	position: fixed;
	top: 0; left: 0;
	width: 100%; height: 100%;
	display: flex;
	justify-content: center;
	align-items : center;
}
.imageEditor9_background {
    background-color:black;
	_background-color: rgba(0, 0, 0, 0.6);
	width: 100%; height: 100%;
	position: absolute;
}
.imageEditor9_hidden {
	display: none;
}


.imageEditor9_snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -150px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 5px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
  opacity: 0.7;
}

.imageEditor9_snackbar_show {
  visibility: visible;
  -webkit-animation: imageEditor9_fadein 0.5s, imageEditor9_fadeout 0.5s 2.5s;
  animation: imageEditor9_fadein 0.5s, imageEditor9_fadeout 0.5s 2.5s;
}

@-webkit-keyframes imageEditor9_fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 0.7;}
}

@keyframes imageEditor9_fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 0.7;}
}

@-webkit-keyframes imageEditor9_fadeout {
  from {bottom: 30px; opacity: 0.7;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes imageEditor9_fadeout {
  from {bottom: 30px; opacity: 0.7;}
  to {bottom: 0; opacity: 0;}
}		
